.home-back-card {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
  min-height: 90vh;
  background-size: cover;
  background-position: center bottom 60%;
  margin-top: 0px;
  border: 1px solid black;
  padding-top: 30px;
  padding-left: 30px;
}
.home-heading {
  color: #ffffff;
  font-family: 'Roboto';
  width: 70%;
}
.home-para {
  font-family: 'Roboto';
  color: #ffffff;
  line-height: 1.5;
  font-size: 19px;
  width: 80%;
}
@media screen and (max-width: 575px) {
  .home-para {
    width: auto;
    font-size: 17px;
  }
  .home-heading {
    width: auto;
  }
}
.home-button {
  color: #ffffff;
  background-color: #6366f1;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px;
  min-width: 90px;
  font-size: 16px;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  .home-back-card {
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
    padding-top: 50px;
    padding-left: 40px;
  }
  .home-heading {
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 55px;
    width: 500px;
  }
  .home-para {
    width: 500px;
    font-size: 20px;
  }
}
