.login-app {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-middle-card {
  background-color: #272727;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 300px;
  width: 300px;
}
.login-logo-img {
  width: 40%;
}
.form-card {
  padding: 5px;
}
.input-card {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 5px;
}
input {
  width: 220px;
  background-color: transparent;
  border: 1px solid #64748b;
  height: 35px;
  margin: 5px;
  outline: none;
  padding-left: 10px;
  font-family: 'Roboto';
  color: #f8fafc;
}

label {
  font-family: 'Roboto';
  color: #f8fafc;
  font-size: 12px;
  font-weight: bold;
}
.login-button {
  background-color: #4f46e5;
  border: none;
  outline: none;
  font-family: 'Roboto';
  color: #f8fafc;
  padding: 7px;
  width: 100%;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 0px;
}
.error-msg-para {
  font-family: 'Roboto';
  color: #ff0b37;
  margin-top: 0px;
  font-size: 13px;
}
.sample-button {
  background-color: #4f46e5;
  border: none;
  outline: none;
  font-family: 'Roboto';
  color: #f8fafc;
  padding: 7px;
  width: 100%;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  margin-top: 15px;
}

.popup-container {
  height: 100vh;
  width: 100vw;
}

.modal-container {
  height: 60vh;
  display: flex;
  flex-direction: column;
}
.trigger-button {
  outline: none;
  border: none;
  padding: 3px;
  background-color: transparent;
  align-self: flex-end;
  cursor: pointer;
}
.login-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  flex-grow: 1;
}
.user-heading {
  font-family: 'Roboto';
  font-size: 17px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0px;
}
.user-para {
  font-family: 'Roboto';
  margin-bottom: 0px;
  font-size: 17px;
  text-align: center;
  margin-top: 5px;
}
.user-para2 {
  font-family: 'Roboto';
  margin-top: 5px;
  font-size: 17px;
  text-align: center;
}
.span {
  font-weight: bold;
}
@media screen and (max-width: 575px) {
  .user-para {
    font-size: 15px;
  }
  .user-para2 {
    font-size: 15px;
  }
  .user-heading {
    font-size: 15px;
  }
}
