.header-nav-card {
  background-color: #272727;
  height: 70px;
  border: 1px solid #272727;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
}
.header-logo-img {
  width: 60%;
}
.logo-click-button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.moblie-icons-tab {
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0px;
  list-style-type: none;
}
.moblie-icons-item {
}
.icon-style {
  color: #ffffff;
  font-size: 25px;
}

.moblie-logout-button {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
}
.link {
  text-decoration: none;
}
.desktop-link-tab {
  display: none;
}
.link-para {
  font-family: 'Roboto';
  color: #f8fafc;
  font-size: 16px;
}

.desktop-logout-button {
  background-color: #4f46e5;
  border: none;
  outline: none;
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 16px;
  width: 80px;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
  display: none;
}

@media screen and (min-width: 768px) {
  .header-logo-img {
    width: 70%;
  }
  .moblie-icons-tab {
    display: none;
  }
  .desktop-link-tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
  }
  .desktop-logout-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
